{%- comment -%}
	Render password modal (storefront password form)

	Accepts:
	- section {Object} section settings (uses `section.id`)
	- password_heading {String} heading text
	- password_placeholder {String} input placeholder
	- password_btn_copy {String} submit button text

	Usage:
	{%- render 'password-modal', section: section, password_heading: section.settings.heading, password_placeholder: section.settings.placeholder, password_btn_copy: section.settings.btn_copy -%}

{%- endcomment -%}
<div class="modal fade" id="passwordModal-{{ section.id }}" tabindex="-1" aria-labelledby="passwordModalLabel-{{ section.id }}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-bottom-0 position-absolute end-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12 p-4 py-lg-5 px-lg-3">
							<h2 id="passwordModalLabel-{{ section.id }}" class="text-center mb-3 no-animation">{{ password_heading }}</h2>
							{%- form 'storefront_password', id: 'passwordForm', class: 'password-form', novalidate: true -%}
								<div class="row">
									<div class="col-12 mb-3">
										<label for="Password" class="visually-hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
										<input type="password" name="password" id="Password" class="form-control" placeholder="{{ password_placeholder }}" required>
										<div class="invalid-feedback">{{ 'general.password_page.login_form_password_label' | t }}</div>
									</div>
									{%- comment -%} ERROR MESSAGE {%- endcomment -%}
									{%- if form.errors -%}
										<div class="col-12 pt-3 error-msg text-danger">
											{{ form.errors | default_errors }}
										</div>
									{%- endif -%}
									{%- comment -%} SUBMIT BTN {%- endcomment -%}
									<div class="col-12 w-100">
										<button type="submit" class="btn btn-primary w-100 mt-2 mb-lg-0">
											<span class="anim-wrapper">
												<span class="initial">{{ password_btn_copy }}</span>
												<span class="end">{{ password_btn_copy }}</span>
											</span>
										</button>
									</div>
								</div>
							{%- endform -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

