{%- comment -%}
	Show product's averagestar ratings
	
	Accepts:
	- product: {Object} Shopify's current product object
	- block: {Object} Corresponding Section Block
	
	Usage:
	{%- render 'product-ratings', product: product -%}

{%- endcomment -%}
{%- if product.metafields.theme.rating.value != blank -%}
	<link rel="stylesheet" type="text/css" href="{{ 'product-ratings.css' | asset_url }}">
	{%- liquid 
		assign rating_decimal = 0 
		assign decimal = product.metafields.theme.rating.value.rating | modulo: 1 
		if decimal >= 0.3 and decimal <= 0.7 
			assign rating_decimal = 0.5 
		elsif decimal > 0.7 
			assign	rating_decimal = 1 
		endif 
	-%}
	<div class="product-rating mb-3 mt-1 mt-lg-2" style="--alignment: {{ block.settings.star_alignment | default: 'left' }}">
		<div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.theme.rating.value, rating_max: product.metafields.theme.rating.value.scale_max }}">
			<span aria-hidden="true" class="rating-star" style="--rating: {{ product.metafields.theme.rating.value.rating | floor }}; --rating-max: {{ product.metafields.theme.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }}; --star-color: {{ block.settings.star_color | default: '#FD6908' }}; --font-size: {{ block.settings.star_size | default: 2 }};"></span>
		</div>
		<p class="rating-text caption">
			<span aria-hidden="true">{{ product.metafields.theme.rating.value }} / {{ product.metafields.theme.rating.value.scale_max }}</span>
		</p>
		<p class="rating-count caption text-black">
			{%- liquid
				assign meta_default = product.metafields.theme.reviews_count_label | metafield_tag
				assign info = block.settings.info | default: meta_default
			-%}
			<span>{{ product.metafields.theme.rating.value }}{% if info != blank %} ({{ info | replace_last: 'metafield-url"', 'metafield-url text-black" target="_blank" rel="noopener noreferrer"' }}){% endif %}</span>
			<span class="visually-hidden" aria-hidden="true">{{ product.metafields.theme.rating.value }} {{ "accessibility.total_reviews" | t }}</span>
		</p>
	</div>
{%- endif -%}