{%- comment -%}
	Renders product grid
	 - col-{xx} Used for Native Lazy loading 'sizes' calculations

	Accepts:
	- product: {Object} Shopify product object
	- product_short_name {String} (optional)
	- product_short_description {String} (optional)
	- product_image {Object} (optional) Overrides default product image, useful when using product-grid alone
	- classes: {String} extra classes to pass on the column
	- columns: {String} Columns for grid item
	- col_sm {Number} (optional)
	- col_md {Number} (optional)
	- col_lg {Number} (optional)
	- col_xl {Number} (optional)
	- col_xxl {Number} (optional)
	- show_description: {Boolean} (optional)
	- show_swatches: {Boolean} (optional)
	- shop_the_look: {Boolean} Determines if add to cart is shown. Default: false (optional)
	- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
	- first_tag: {String} like: NEW
	- second_tag: {String} like: 20% OFF
	- lazyloading_style: {String}: eager|lazy (defaults to "lazy")
	- is_variant {Boolean}: Check if grid item is a variant instead of a product

	Usage:
	{%- render 'product-grid', product: product, classes: 'px-3', col_sm: 2, col_md: 3, col_lg: 4 -%}

{%- endcomment -%}
{%- liquid
	assign image = product_image | default: product.featured_image
	assign context = context | default: "product"

	comment
	  Color Swatches
	endcomment
	assign has_colors = false
	assign color_option_names = "color|colors|colour|colours" | split: "|"
	for option in product.options_with_values
		assign downcased_option_name = option.name | downcase
		if color_option_names contains downcased_option_name
			assign has_colors = true
			break
		endif
	endfor
	
	comment
	  Product title (or Product short name overwrite)
	endcomment
	if product_short_name != blank 
		assign product_title = product_short_name
	else
		assign product_title = product.title
	endif

	comment
		Secondary image
	endcomment
	assign second_image = product.media[1]

	comment
		If variant item is displayed showcase main title first
	endcomment
	if is_variant == true
		assign main_product = product.product

		comment
		  Find color option from variant
		endcomment
		assign color = blank
		for option in main_product.options
			assign color_lower = option | downcase
			if color_lower contains 'color'
				assign color =  product.options | where: 'name', option.name | first
			endif
		endfor
		
		comment
		  Remove color title from variant title
		endcomment
		if color != blank
			assign color_in_title = color | append: ' / '
			assign product_title = product_title | replace: color_in_title, ''
		endif
		
		assign product_title = main_product.title | append: ' - ' | append: product_title

		comment
		  Add color at the beginning of the product title
		endcomment
		if color != blank
			assign product_title = color | append: ' - ' | append: product_title
		endif

		comment
			If image is not found for a variant item, default back to main product image
		endcomment
		if image == blank
			assign image = main_product.featured_image
		endif

		comment
			Replace second image for a variant item
		endcomment
		assign second_image = main_product.media[1]
	endif

	comment
	  Product description (or Product short description overwrite)
	endcomment
	if product_short_description != blank 
		assign product_description = product_short_description
	else
		assign product_description = product.description
	endif
	
	comment
	  Image loadings style
	endcomment
	assign lazyloading_style = lazyloading_style | default: "lazy"

	comment
	# Validate sf price filter only for variant items
	endcomment
	if is_variant == true
		comment
		# Init all variables
		endcomment
		assign hide_variant_item = true
		assign variant_sf_price = product.metafields.theme.price_per_unit.value
		assign has_active_filter = false

		comment
		# Validate there's active filters on current collection
		endcomment
		for filter in collection.filters
			if filter.active_values.size > 0
				assign has_active_filter = true
				break
			comment
			# Validate if there are price ranges filters activated
			endcomment
			elsif filter.type == 'price_range' and filter.min_value != nil and filter.min_value.value != blank and filter.min_value.value > 0 or filter.max_value.value != filter.range_max
				assign has_active_filter = true
				break
			endif
		endfor

		comment
		# If there's an active filter on collection, proceed validate sf price
		endcomment
		if has_active_filter == true
			for filter in collection.filters
				assign filter_label = filter.label | downcase
				
				comment
				# Search sf price active value to validate if item should be visible or not
				endcomment
				for active_value in filter.active_values
					assign value = active_value.value
					
					comment
					# Only show variant items that has the same sf meta price as current filter price
					endcomment
					if filter_label contains 'sf price' and value == variant_sf_price
						assign hide_variant_item = false
					endif
				endfor

				comment
				# If filter is box price, proceed to hide item if variant price is not on price range
				endcomment
				if filter_label contains 'box price' and product.price >= filter.min_value.value and product.price <= filter.max_value.value
					assign hide_variant_item = false
				endif
			endfor
		else
			comment
			# Do not hide items if no filters applied
			endcomment
			assign hide_variant_item = false
		endif
	endif
-%}
<div class="product-grid-item d-flex flex-column align-items-start{% if is_variant == true and hide_variant_item == true %} d-none{% endif %}{% if classes %} {{ classes }}{% endif %}" data-grid-item>
	<a href="{{ product.url }}" class="product-img w-100" title="{{ product_title | escape }}">	
		{%- liquid
			comment
			# Check all possible cases for second hover image
			endcomment
			assign show_secondary = false

			comment
			# If no flag enable do not show second image hover
			endcomment
			unless show_secondary_image == false
				comment
				# For variants always check for metadata variants
				endcomment
				if is_variant == true
					if product.metafields.theme.extra_images != blank
						assign extra_images_size = product.metafields.theme.extra_images.value.images.value | size

						comment
						# Show variant second hover image if metadata found
						endcomment
						if extra_images_size >= 1
							assign show_secondary = true
						endif
					endif
				elsif second_image != blank
					comment
					# Show secondary of product if found
					endcomment
					assign show_secondary = true
				endif
			endunless
		-%}
		<div class="product-img-wrapper position-relative{% if show_secondary == true %} media-hover-effect{% endif %}">
			{%- if first_tag != blank or second_tag != blank -%}
				<div class="tags-wrapper product-grid-tags-wrapper row row-cols-auto g-1 position-absolute{% if show_tags_with_info == true %} d-lg-none{% endif %}">
					{%- if first_tag != blank -%}
							<div class="col">
								<span class="badge first-badge">{{ first_tag }}</span>
							</div>
						{%- endif -%}
						{%- if second_tag != blank -%}
							<div class="col">
								<span class="badge">{{ second_tag }}</span>
							</div>
						{%- endif -%}
				</div>
			{%- endif -%}
			{%- render 'responsive-image',
				image: image,
				image_class: 'img-fluid',
				col_sm: col_sm,
				col_md: col_md,
				col_lg: col_lg,
				col_xl: col_xl,
				col_xxl: col_xxl,
				lazyloading_style: lazyloading_style
			-%}
			{%- comment -%} Second image hover {%- endcomment -%}
			{%- unless show_secondary_image == false -%}
				{%- if is_variant == true -%}
					{%- comment -%} Find the right images per variant {%- endcomment -%}
					{%- if product.metafields.theme.extra_images != blank -%}
						{%- assign extra_images = product.metafields.theme.extra_images.value.images.value -%}
						{%- for variant_image in extra_images -%}
							{%- render 'responsive-image',
								image: variant_image,
								wrapper_class: 'secondary-image',
								image_class: 'img-fluid',
								col_sm: col_sm,
								col_md: col_md,
								col_lg: col_lg,
								col_xl: col_xl,
								col_xxl: col_xxl
							-%}
							{%- break -%}
						{%- endfor -%}
					{%- endif -%}
				{%- elsif second_image != blank -%}
					{%- render 'responsive-image',
						image: second_image,
						wrapper_class: 'secondary-image',
						image_class: 'img-fluid',
						col_sm: col_sm,
						col_md: col_md,
						col_lg: col_lg,
						col_xl: col_xl,
						col_xxl: col_xxl
					-%}
				{%- endif -%}
			{%- endunless -%}
		</div>
	</a>
	<div class="product-info d-flex flex-column justify-content-between h-100">
		<p class="product-title"><a class="text-decoration-none" href="{{ product.url }}" title="{{ product_title | escape }}">{{ product_title }}</a></p>
		{%- if show_description == true and product_description != blank -%}
			<div class="product-description rte pb-2 mb-1 pb-lg-3 mb-lg-0">
				{{ product_description | truncatewords: settings.product_description_truncate_word_count, "" }}
			</div>
		{%- endif -%}
		{%- if show_swatches == true and has_colors == true -%}
			<div class="product-swatches-wrapper">
				{%- render 'product-swatches', 
					product: product 
				-%}
			</div>
		{%- endif -%}
		{%- render 'product-price', 
			context: context, 
			product: product,
			is_variant: is_variant,
			show_sf_price: true
		-%}
		{%- if show_tags_with_info == true -%}
			{%- if first_tag != blank or second_tag != blank -%}
				<div class="info-tags d-none d-lg-flex gap-2">
					{%- if first_tag != blank -%}
						<div class="metafield-tag">{{ first_tag }}</div>
					{%- endif -%}
					{%- if second_tag != blank -%}
						<div class="metafield-tag">{{ second_tag }}</div>
					{%- endif -%}
				</div>
			{%- endif -%}
		{%- endif -%}
	</div>
</div>