{%- comment -%}
	Renders Quantity button controller

	Accepts:
	- item : item
	- variant: item.variant
	- context: {String} cart|drawer_cart

	Usage:
	{%- render 'quantity-buttons', item: item, variant: item.variant.id, context: 'cart' -%}
{%- endcomment -%}

{%- liquid
	assign prepend_context = ''
	assign input_name = 'qty[]'
	assign key = item.key
	assign input_key = key | prepend: prepend_context
	
	comment
	if context == 'cart'
		assign prepend_context = 'updates_'
		assign input_name = 'updates[]'
		assign input_key = key | prepend: prepend_context
	endif
	endcomment

	if context == 'pdp'
		assign prepend_context = 'updates_'
		assign key = item.id
		assign input_name = 'quantity'
		assign input_key = 'Quantity'
	endif
	
	assign item_quantity = item.quantity | default: 1
-%}
<div class="d-flex qty-wrapper" data-qty-controls>
	<button class="qty-minus" type="button" data-qty-change="minus" data-qty-target="{{ key | prepend: prepend_context }}"><span class="visually-hidden">{{ 'products.product.minus' | t }}</span>{%- render 'icons' with 'minus' -%}</button>
	<input  class="qty-text text-center mx-0 p-0" type="text" name="{{ input_name }}" id="{{ input_key }}" value="{{ item_quantity }}" aria-label="{{ 'cart.label.quantity' | t }}" data-variant-id="{{ variant.id }}" data-key="{{ key | prepend: prepend_context }}" data-original-qty="{{ item_quantity }}">
	<button class="qty-plus" type="button" data-qty-change="plus" data-qty-target="{{ key | prepend: prepend_context }}"><span class="visually-hidden">{{ 'products.product.plus' | t }}</span>{%- render 'icons' with 'plus' -%}</button>
</div>