{%- comment -%}
	Generates a fully responsive, LCP optimized image

	Dependencies:
	https://github.com/verlok/vanilla-lazyload

	Accepts:
		- image: {Object} Image object
		- width: {Number} Image width
		- height: {Number} Image height
		- wrapper_class: {String} class name of the <div> wrapper
		- wrapper_attributes: {String} additional HTML attributes of the <div> wrapper
		- image_class: {String} class name of the <img> wrapper
		- image_attributes: {String} additional HTML attributes of the <img>
		- aspect_ratio: {Boolean} will use aspect ratio on wrapper - Default: true
		- preloader_icon: {Boolean} display animated preloader - Default: true
		- lazyloading_style: {String} Can be eager|lazy (optional) - Default: lazy
		- fetch_priority: {Boolean} Give the image high priority loading, useful for above the fold image, in conjunction with lazyloading_style: eager
		- product_list: {Array} List of products used for Shop the Look

	Usage: In your liquid template file, copy the following line

	{%- render 'responsive-image', image: featured_image, image_class: "css-class", wrapper_class: "wrapper-css-class" -%}

{%- endcomment -%}
{%- comment -%}theme-check-disable UnknownFilter{%- endcomment -%}
{%- liquid
	assign show_image_placeholder = false
	assign show_fallback_image = false
	assign fallback_image_name = "placeholder.jpg"

	comment
	# Check what type of image to use (given image, place holder or fallback image)
	endcomment
	if image == blank and context == "background"
		assign show_image_placeholder = true
	endif

	if image == blank and settings.no_image != blank
		assign image = settings.no_image
	endif

	if image == blank and settings.no_image == blank and context != "background"
		assign show_fallback_image = true
	endif

	comment
	# Array of pixel sizes for image srcset
	endcomment
	assign image_widths_string = '180, 320, 540, 720, 960, 1080, 1280, 1980, 2560, 3840, 4096'
	assign image_widths = image_widths_string | split: ', '
	assign smallest_width = image_widths | first

	comment
	#	Image Dimensions
	#	?NOTE: Justification for default image sizes: https://www.shopify.com/blog/image-sizes
	endcomment
	if width != blank
		assign image_width = width
	else
		assign image_width = image.width | default: 2560
	endif

	if height != blank
		assign image_height = height
	else
		assign image_height = image.height | default: 960
	endif

	if show_fallback_image == true
		assign image_width = 900
		assign image_height = 900
	endif

	comment
	#	Image aspect ratio
	#	Used as the value of the CSS variable that handles aspect ratio
	endcomment
	assign image_aspect_ratio = image_width | append: '/' | append: image_height

	comment
	#	Image URL
	endcomment
	if show_fallback_image != true
		assign image_url = image | image_url: width: image_width, height: image_height
	else
		assign image_url = fallback_image_name | asset_img_url: 'small'
	endif

	comment
	#	Image modifiers
	#	without_reduction: makes the srcset only go above the images width instead of the full range
	#	context: tells the snippet if the image is meant to be a background or a regular forefront image
	endcomment
	assign without_reduction = without_reduction | default: false
	assign context = context | default: 'normal'

	comment
	#	Image Properties
	#	Includes: loading style, fetch priority, alt text, focal point, srcset, sizes
	endcomment
	assign lazyloading_style = lazyloading_style | default: 'lazy'
	assign fetch_priority = fetch_priority | default: false
	assign focal_point = image.presentation.focal_point | default: '50.0% 50.0%'

	if show_fallback_image != true
		assign alt_text = image.alt | default: "image" | escape
	else
		assign alt_text = 'placeholder'
	endif

	comment
	#	Image SRCSET attribute
	endcomment
	capture srcset
		for width in image_widths
			assign width_num = width | plus: 0 | round
			if without_reduction == true
				if width_num >= image_width
					assign img_url = image | image_url: width: width_num
					echo img_url | append: ' ' | append: width_num | append: 'w, '
				endif
			else
				if width_num <= image_width
					assign img_url = image | image_url: width: width_num
					echo img_url | append: ' ' | append: width_num | append: 'w, '
				endif
			endif
		endfor
	endcapture

	if show_fallback_image != true
		assign srcset = srcset | replace_last: 'w, ', 'w'
	else
		assign srcset = fallback_image_name | asset_img_url: "900x900"
	endif

	comment
	#	Viewport formula
	# 	?NOTE: This formula is meant to be used on the "sizes" attribute to help the browser pick the best image for
	# 	? the container it is in regards to the viewport and overall padding to the edges of the screen (containers)
	endcomment
	assign viewport_width_padding = '1rem'
	assign viewport_width_formula = 'calc((100vw - ' | append: viewport_width_padding | append: ')'

	comment
	#	Image SIZES attribute
	endcomment
	capture sizes
		if col_sm == nil and col_md == nil and col_lg == nil and col_xl == nil and col_xxl == nil
			echo '100vw'
		else
			if col_xxl and image_width >= 1400
				echo '(min-width: 1400px) ' | append: viewport_width_formula | append: ' / ' | append: col_xxl | append: '), '
			endif
			if col_xl and image_width >= 1200
				echo '(min-width: 1200px) ' | append: viewport_width_formula | append: ' / ' | append: col_xl | append: '), '
			endif
			if col_lg and image_width >= 992
				echo '(min-width: 992px) ' | append: viewport_width_formula | append: ' / ' | append: col_lg | append: '), '
			endif
			if col_md and image_width >= 768
				echo '(min-width: 768px) ' | append: viewport_width_formula | append: ' / ' | append: col_md | append: '), '
			endif
			if col_sm and image_width >= 320
				echo '(min-width: 567px) ' | append: viewport_width_formula | append: ' / ' | append: col_sm | append: '), '
			endif
			echo smallest_width
		endif
	endcapture
-%}
{%- unless show_image_placeholder == true -%}
	<div class="responsive-image{% if focal_point != '50.0% 50.0%' %} focal-point{% endif %}{% unless aspect_ratio == false %} aspect-ratio{% endunless %}{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}"{% unless aspect_ratio == false %} style="--aspect-ratio:{{ image_aspect_ratio }};"{% endunless %}{% if wrapper_attributes %} {{ wrapper_attributes }}{% endif %}>
		<img class="{{ lazyloading_style }}{% if image_class != blank %} {{ image_class }}{% endif %}"{% if lazyloading_style == 'lazy' %} data-src="{{ image_url }}" data-srcset="{{ srcset }}"{% else %} src="{{ image_url }}" srcset="{{ srcset }}"{% endif %} alt="{{ alt_text }}" sizes="{{ sizes }}" loading="{{ lazyloading_style }}" {% if fetch_priority %}fetchpriority="high" {% endif %} width="{{ image_width }}" height="{{ image_height }}" style=" object-position: {{ focal_point }};{% if focal_point != '50.0% 50.0%' %} object-fit: none;{% endif %}"{% if image_attributes != blank %} {{ image_attributes }}{% endif %}>
		{%- unless preloader_icon == false -%}
			<div class="image-preloader">
				<div class="loading-tiles">
					<div class="square"></div>
					<div class="square"></div>
					<div class="square"></div>
					<div class="square"></div>
				</div>
			</div>
		{%- endunless -%}
		{%- if product_list != blank -%}
			{%- render 'product-list', product_list: product_list, index: index -%}
		{%- endif -%}
	</div>
{%- else -%}
	{{ 'lifestyle-1' | placeholder_svg_tag: "placeholder-svg img-fluid lazy w-100 h-100" }}
{%- endunless -%}
{%- comment -%}theme-check-enable UnknownFilter{%- endcomment -%}