{%- if block.settings.heading != blank -%}
	{%- liquid 
		comment
			# clean label input
		endcomment
		assign label = block.settings.heading | escape
		assign label_id = block.settings.heading | handleize | replace: '-', '_'
		assign label_name = label_id | prepend: 'contact[' | replace: '-', ' ' | append: ']'
		assign phone_regex = blank

		if block.settings.required == true or block.settings.precheck == true
			assign label = block.settings.heading | append: '<sup>*</sup>'
		endif
		if block.settings.input_type == 'email'
			assign label_name = 'contact[email]'
		elsif block.settings.input_type == 'tel'
			assign phone_regex = "^[0-9\(\)\+\s]{7,20}$"
		endif

		comment
			# INPUT WIDTH
		endcomment
		assign display_col = "col"
		case block.settings.display_type
			when "full"
				assign display_col = "col"
			when "half"
				assign display_col = "col-6"
			when "half-mobile"
				assign display_col = "col-6 col-lg-12"
			when "half-desktop"
				assign display_col = "col-12 col-lg-6"
		endcase
	-%}
	<div class="{{ display_col }} mb-2 mb-lg-3{% if template.name contains 'password' %} d-flex align-items-center gap-3{% endif %}" {{ block.shopify_attributes }}>
		{%- if template.name contains 'password' and block.settings.input_type == 'email' -%}
			{%- render 'icons' with 'mail' -%}
		{%- endif -%}
		<div class="form-floating">
			<input type="{{ block.settings.input_type }}" id="{{ block.id }}{{ label_id }}" name="{{ label_name }}" class="form-control" value="" autocomplete="on" {% if block.settings.placeholder != blank %} placeholder="{{ block.settings.placeholder | escape }}"{% endif %} {% if block.settings.required == true %}{% if block.settings.hidden_input == true %} data-required{% else %} required{% endif %}{% endif %} {% if phone_regex != blank %} pattern="{{ phone_regex }}"{% endif %}>
			<label for="{{ block.id }}{{ label_id }}" class="form-label">{{ label }}</label>
		</div>
	</div>
{%- endif -%}
{% schema %}
{
	"name": "Text Input",
	"tag": null,
	"settings": [
		{
			"type": "select",
			"id": "display_type",
			"label": "Input display type",
			"options": [
				{
					"value": "full",
					"label": "Full width"
				},
				{
					"value": "half",
					"label": "Half width"
				},
				{
					"value": "half-mobile",
					"label": "Half width (mobile only)"
				},
				{
					"value": "half-desktop",
					"label": "Half width (desktop only)"
				}    
			],
			"default": "half"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Label",
		},
		{
			"type": "text",
			"id": "placeholder",
			"label": "Placeholder",
			"info": "Optional"
		},
		{
			"type": "select",
			"id": "input_type",
			"label": "Input fields",
			"default": "text",
			"options": [
				{
					"label": "Text",
					"value": "text"
				},
				{
					"label": "Email",
					"value": "email"
				},
				{
					"label": "Phone",
					"value": "tel"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "required",
			"label": "Required?",
			"default": false
		}
	],
	"presets": [
		{
			"name": "Text Input"
		}
	]
}
{% endschema %}