{%- liquid
	comment
	  Define if we have 2 columns or only 1 to show
	endcomment
	assign has_two_sides = false
	assign has_copy_side = false
	assign has_image_side = false

	comment
	# Determine if content should come from variant or product level metadata
	endcomment
	assign use_content_section_from_variant = product.metafields.theme.content_section_from_variant

	comment
	# Get variant data in case we will need to overwrite the data
	endcomment
	assign current_variant = product.selected_or_first_available_variant
	assign video_block_settings = current_variant.metafields.theme.video_copy_block_settings.value
	assign section_video = blank
	assign block_tag = blank
	assign block_header = blank
	assign block_copy = blank
	assign block_extra_rich = blank
		
	comment
	# Assign video from block setting first, overwrite if variant setting is set to true
	endcomment
	assign section_video = block.settings.video

	if use_content_section_from_variant == true
		assign section_video = video_block_settings.video.value
	endif

	comment
	# Assign tag label from block setting first, overwrite if variant setting is set to true
	endcomment
	assign block_tag = block.settings.tag
	
	if use_content_section_from_variant == true
		assign block_tag = video_block_settings.tag
	endif

	comment
	# Assign header from block setting first, overwrite if variant setting is set to true
	endcomment
	assign block_header = block.settings.heading
	
	if use_content_section_from_variant == true
		assign block_header = video_block_settings.header
	endif

	comment
	# Assign copy from block setting first, overwrite if variant setting is set to true
	endcomment
	assign block_copy = block.settings.copy
	
	if use_content_section_from_variant == true
		assign block_extra_rich = video_block_settings.rich_text | metafield_tag
		assign block_copy = video_block_settings.copy
	
		comment
			# Add optional richttext value
		endcomment
		if block_extra_rich != blank
			assign block_copy = block_copy | append: block_extra_rich
		endif
	endif

	comment
	# If buttons are coming from variant, use them if not validate block size
	endcomment
	assign buttons_size = block.blocks.size
	assign no_block_buttons = false

	if use_content_section_from_variant == true
		assign buttons_size = 0
		if video_block_settings.button_link != blank or video_block_settings.second_button_link != blank
			comment
			# Add size for each button active
			endcomment
			if video_block_settings.button_copy != blank and video_block_settings.button_link != blank
				assign buttons_size = buttons_size | plus: 1
			endif

			if video_block_settings.second_button_copy != blank and video_block_settings.second_button_link != blank
				assign buttons_size = buttons_size | plus: 1
			endif
			
			comment
			# Set flag to not use button blocks
			endcomment
			assign no_block_buttons = true
		endif
	endif

	if block_header != blank or block_copy != blank or buttons_size > 0
		assign has_copy_side = true
	endif
	if section_video != blank
		assign has_image_side = true
	endif
	if has_copy_side == true and has_image_side == true
		assign has_two_sides = true
	endif

	comment
	  Collect grid option
	endcomment
	assign grid_option = section.settings.grid_option

	assign text_alignment_mobile = block.settings.text_alignment_mobile | replace: 'left', 'start' | replace: 'center', 'center' | replace: 'right', 'end'
	assign text_alignment_desktop = block.settings.text_alignment_desktop | replace: 'left', 'start' | replace: 'center', 'center' | replace: 'right', 'end'
-%}
{%- capture content_for_blocks -%}
	{%- unless no_block_buttons == true -%}
		{%- content_for 'blocks' -%}
	{%- else -%}
		{%- if video_block_settings.button_copy != blank and video_block_settings.button_link != blank -%}
			<div class="col button-wrapper">
				<a href="{{ video_block_settings.button_link }}" class="btn w-100 btn-lg-long btn-primary" title="{{ video_block_settings.button_copy | escape }}">
					<span class="anim-wrapper">
						<span class="initial">{{ video_block_settings.button_copy }}</span>
						<span class="end">{{ video_block_settings.button_copy }}</span>
					</span>
				</a>
			</div>
		{%- endif -%}
		{%- if video_block_settings.second_button_copy != blank and video_block_settings.second_button_link != blank -%}
			<div class="col button-wrapper">
				<a href="{{ video_block_settings.second_button_link }}" class="btn w-100 btn-lg-long btn-primary" title="{{ video_block_settings.second_button_copy | escape }}">
					<span class="anim-wrapper">
						<span class="initial">{{ video_block_settings.second_button_copy }}</span>
						<span class="end">{{ video_block_settings.second_button_copy }}</span>
					</span>
				</a>
			</div>
		{%- endif -%}
	{%- endunless -%}
{%- endcapture -%}
{%- comment -%}
  Capture repeating IMAGE BLOCK code
{%- endcomment -%}
{%- capture video_block -%}
	{%- if section_video != blank -%}
		<div class="col col-image video-block"  data-section-id="{{ block.id }}" id="videoBanner-{{ section.id }}" data-section-type="videoBanner" data-provider="shopify" data-video-id="{{ block.settings.video.id }}" data-video-autoplay="{{ block.settings.autoplay }}">
			{%- if section.settings.show_heading_at_top == true -%}
				<div class="copy-wrapper copy-wrapper-top align-start">
					{%- if block_tag != blank -%}
						<div class="badge text-bg-success px-2"><span>{{ block_tag }}</span></div>
					{%- endif -%}
					{%- if block_header != blank -%}
						<h2 class="mb-lg-4">{{ block_header }}</h2>
					{%- endif -%}
					{%- if section.settings.show_copy_at_top == true and block_copy != blank -%}
						<p class="copy-at-top">{{ block_copy }}</p>
					{%- endif -%}
				</div>
			{%- endif -%}
			<div id="V{{ block.id }}" class="video-player position-relative">
				<div class="video">
					{{ section_video | video_tag: autoplay: block.settings.autoplay, preload: 'metadata', image_size: '2400x', loop: block.settings.loop, class: 'mw-100' }}
				</div>
				{%- if block.settings.autoplay != true -%}
					<div class="sound-icon sound" data-sound-icon>
						{%- render 'icons' with 'volume-off' -%}
						{%- render 'icons' with 'volume-on' -%}
					</div>
				{%- endif -%}
			</div>
		</div>
	{%- endif -%}
{%- endcapture -%}
{%- comment -%}
  Capture repeating COPY BLOCK code
{%- endcomment -%}
{%- capture copy_block -%}
	<div class="block-image-copy col col-copy d-flex justify-content-{{ block.settings.horizontal_alignment_mobile }} justify-content-lg-{{ block.settings.horizontal_alignment_desktop }} text-{{ text_alignment_mobile }} text-lg-{{ text_alignment_desktop }}">
		<div class="copy-wrapper align-start">
			{%- if block_tag != blank and section.settings.show_heading_at_top == false -%}
				<div class="badge text-bg-success px-2"><span>{{ block_tag }}</span></div>
			{%- endif -%}
			{%- if block_header != blank -%}
				<h2>{{ block_header }}</h2>
			{%- endif -%}
			{%- if block_copy != blank -%}
				<p>{{ block_copy }}</p>
			{%- endif -%}
			{%- comment -%} Links button (Two Buttons Block) {%- endcomment -%}
			<div class="row row-cols-lg-auto g-2 justify-content-{{ text_alignment_mobile }} justify-content-lg-{{ text_alignment_desktop }} pt-2 pb-3 pb-lg-0">
				{{ content_for_blocks }}
			</div>
		</div>
	</div>
{%- endcapture -%}
{%- comment -%}
	# Hide block content if no main data found
{%- endcomment -%}
{%- if section_video != blank -%}
	{%- if grid_option == 'linear' -%}
		<div class="row gy-4 gy-lg-0 py-3 py-lg-custom gx-lg-5 row-cols-1{% if has_two_sides == true %} row-cols-lg-2{% endif %} align-items-lg-{{ block.settings.vertical_alignment_desktop }}"{{ block.shopify_attributes }}>
			{{ 'video.css' | asset_url | stylesheet_tag }}
			<script src="{{ 'video-banner.js' | asset_url }}" defer crossorigin="anonymous"></script>
			{%- comment -%} Image block {%- endcomment -%}
			{{ video_block }}
			{%- comment -%} Copy block {%- endcomment -%}
			{{ copy_block }}
		</div>
	{%- elsif grid_option == 'grid-3-by-row' -%}
		<div class="col px-lg-3" {{ block.shopify_attributes }}>
			{{ 'video.css' | asset_url | stylesheet_tag }}
			<script src="{{ 'video-banner.js' | asset_url }}" defer crossorigin="anonymous"></script>
			{%- comment -%} Video block {%- endcomment -%}
			{{ video_block }}
			{%- comment -%} Copy block {%- endcomment -%}
			{{ copy_block }}
		</div>
	{%- endif -%}
{%- endif -%}
{% schema %}
{
	"name": "Video / Copy Block",
	"tag": null,
	"settings": [
		{
			"type": "header",
			"content": "Block Settings",
			"info": "If dynamic content from variant is enabled on section, content will rely on variant metadata and update will be triggered when variant changes"
		},
		{
			"type": "header",
			"content": "Video"
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "Autoplay",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "loop",
			"label": "Loop Video?",
		},
		{
			"type": "video",
			"id": "video",
			"label": "Video"
		},
		{
			"type": "header",
			"content": "Copy"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Header"
		},
		{
			"type": "richtext",
			"id": "copy",
			"label": "Copy"
		},
		{
			"type": "inline_richtext",
			"id": "tag",
			"label": "Tag"
		},
		{
			"type": "select",
			"id": "vertical_alignment_desktop",
			"label": "Vertical Alignment",
			"info": "Will apply to the desktop view of 'Linear' layout",
			"options": [
				{
					"value": "start",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "end",
					"label": "Bottom"
				}
			],
			"default": "center"
		},
		{
			"type": "text_alignment",
			"id": "text_alignment_desktop",
			"label": "Text Alignment",
			"default": "left"
		},
		{
			"type": "select",
			"id": "horizontal_alignment_desktop",
			"label": "Horizontal Alignment",
			"info": "Will apply to the desktop view of 'Linear' layout",
			"options": [
				{
					"value": "start",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "end",
					"label": "Right"
				}
			],
			"default": "start"
		},
		{
			"type": "text_alignment",
			"id": "text_alignment_mobile",
			"label": "Text Alignment Mobile",
			"default": "left"
		},
		{
			"type": "select",
			"id": "horizontal_alignment_mobile",
			"label": "Horizontal Alignment",
			"info": "Will apply to the desktop view of 'Linear' layout",
			"options": [
				{
					"value": "start",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "end",
					"label": "Right"
				}
			],
			"default": "start"
		}
	],
	"blocks": [
		{
			"type": "_two-buttons",
		}
	],
	"presets": [
		{
			"name": "Video / Copy Block"
		}
	]
}
{% endschema %}