{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'login.js' | asset_url }}" defer crossorigin="anonymous"></script>
<div class="customers px-2 w-100">
	<div class="container forms mx-auto px-4 px-lg-5 py-4" data-section-id="{{ section.id }}" data-section-type="login">
		<div class="row">
			<div class="col">
				<h1>{{ 'customer.activate_account.title' | t }}</h1>
				<p>{{ 'customer.activate_account.subtext' | t }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{%- form 'activate_customer_password', data-needs-validation: true, novalidate: true -%}
				{{ form.errors | default_errors }}
				<div class="input-group">
					<label for="CustomerPassword" class="visually-hidden">{{ 'customer.activate_account.password' | t }}</label>
					<input type="password" name="customer[password]" id="CustomerPassword" class="form-control" placeholder="{{ 'customer.activate_account.password' | t }}" data-password minlength="8" required>
					<div class="invalid-feedback">{{ 'customer.activate_account.password_length' | t }}</div>
				</div>
				<div class="input-group">
					<label for="CustomerPasswordConfirmation" class="visually-hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
					<input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="form-control" placeholder="{{ 'customer.activate_account.password_confirm' | t }}" data-confirm-password minlength="8" required>
					<div class="invalid-feedback">{{ 'customer.activate_account.password_length' | t }}</div>
				</div>
				<button type="submit" class="btn btn-primary my-2" data-submit-password>{{ 'customer.activate_account.submit' | t }}</button>
				<div class="custom-feedback d-none" data-password-error>{{ 'customer.activate_account.password_match' | t }}</div>
				<div class="pt-4">
					<p><a name="decline" href="{{ shop.secure_url }}" title="{{ 'customer.activate_account.cancel' | t }}">{{ 'customer.activate_account.cancel' | t }}</a></p>
				</div>
				{%- endform -%}
			</div>
		</div>
	</div><!-- / .container -->
</div>