{%- liquid
	render 'section-padding', padding_amount_top: section.settings.padding_amount_top, padding_amount_bottom: section.settings.padding_amount_bottom

	comment
	  Collect grid option
	endcomment
	assign grid_option = section.settings.grid_option

	comment
	# Determine if content should come from variant or product level metadata
	endcomment
	assign use_content_section_from_variant = product.metafields.theme.content_section_from_variant.value

	comment
	  Define if Title can show before the image
	  Condition: must be image first and grid-3
	endcomment
	assign top_heading_mobile_show = ''
	assign top_heading_show = ''
	if section.settings.show_heading_at_top == true
		if grid_option == 'grid-3-by-row'
			assign top_heading_mobile_show = ' show-top-heading-mobile'
			assign top_heading_show = ' show-top-heading-desktop'
		elsif grid_option == 'linear'
			if section.settings.img_top_bottom_mobile == 'natural'
				assign top_heading_mobile_show = ' show-top-heading-mobile'
			endif
		endif
	endif

	comment
	  Define if Copy can show before the image
	  Condition: must be image first and grid-3
	endcomment
	assign top_copy_mobile_show = ''
	assign top_copy_show = ''
	if section.settings.show_heading_at_top == true and section.settings.show_copy_at_top == true
		if grid_option == 'grid-3-by-row'
			assign top_copy_mobile_show = ' show-top-copy-mobile'
			assign top_copy_show = ' show-top-copy-desktop'
		elsif grid_option == 'linear'
			if section.settings.img_top_bottom_mobile == 'natural'
				assign top_copy_mobile_show = ' show-top-copy-mobile'
			endif
		endif
	endif
-%}
{%- comment -%}
# initialize dynamic content section
{%- endcomment -%}
{%- if use_content_section_from_variant == true -%}
	<script src="{{ 'variant-sections.js' | asset_url }}" defer crossorigin="anonymous"></script>
{%- endif -%}
{{ 'image-copy-blocks.css' | asset_url | stylesheet_tag }}
<div class="container{% if use_content_section_from_variant == true %} loading-state{% endif %} layout-{{ grid_option }} order-mobile-{{ section.settings.img_top_bottom_mobile }} order-desktop-{{ section.settings.img_left_right_desktop }}{{ top_heading_mobile_show }}{{ top_heading_show }}{{ top_copy_mobile_show }}{{ top_copy_show }}"{%- if use_content_section_from_variant == true -%} data-section-type="dynamicVariantSectionContent" data-section-id="{{ section.id }}" data-product-handle="{{ product.handle }}"{% endif %}>
	{%- if use_content_section_from_variant == true -%}
		{%- comment -%} Dynamic section loader {%- endcomment -%}
		{%- render 'dynamic-section-loader' -%}
	{%- endif -%}
	{%- liquid
		assign number_of_columns = 2
		if grid_option == 'grid-3-by-row'
			assign number_of_columns = 3
		endif
	-%}
	<div class="content-wrapper{% if grid_option == 'grid-3-by-row' %} row row-cols-1 row-cols-lg-{{ number_of_columns }} gy-4 gy-lg-6 gx-lg-4{% endif %}" data-content-loaded>
		{%- content_for "blocks" -%}
	</div>
</div>
{% schema %}
{
	"name": "Image/Video/Copy Blocks",
	"class": "recurring-sections section-image-copy-blocks section-dynamic-content",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "Block content uses product/variant metafield data",
			"info": "If variant content is selected, content update will be triggered when variant changes"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "grid_option",
			"label": "Grid Options",
			"options": [
				{
					"value": "linear",
					"label": "Linear"
				},
				{
					"value": "grid-3-by-row",
					"label": "Grid by 3 (Desktop)"
				}
			],
			"default": "linear"
		},
		{
			"type": "select",
			"id": "img_left_right_desktop",
			"label": "Image / Video on Desktop",
			"options": [
				{
					"value": "natural",
					"label": "Left"
				},
				{
					"value": "reverse",
					"label": "Right"
				}
			],
			"default": "natural",
			"info": "Apply only to 'Linear' layout"
		},
		{
			"type": "select",
			"id": "img_top_bottom_mobile",
			"label": "Image / Video on Mobile",
			"options": [
				{
					"value": "natural",
					"label": "Top"
				},
				{
					"value": "reverse",
					"label": "Bottom"
				}
			],
			"default": "natural",
			"info": "Apply only to 'Linear' layout"
		},
		{
			"type": "checkbox",
			"id": "show_heading_at_top",
			"label": "Show heading before the Image",
			"info": "Only applies to mobile view if the image show first and 'Grid by 3' on desktop",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_copy_at_top",
			"label": "Show copy before the Image",
			"info": "Show heading before the image must be active as well. Only applies to mobile view if the image show first and 'Grid by 3' on desktop",
			"default": false
		},
		{
			"type": "header",
			"content": "First Slider Tooltip",
			"info": "This setting applies only to the first Slider / Copy BLocks"
		},
		{
			"type": "metaobject_list",
			"id": "product_dot_lists",
			"label": "Product Dot Lists",
			"metaobject_type": "product_dot_list"
		},
		{
			"type": "header",
			"content": "Second Slider Tooltip",
			"info": "This setting applies only to the second Slider / Copy BLocks"
		},
		{
			"type": "metaobject_list",
			"id": "second_product_dot_lists",
			"label": "Product Dot Lists",
			"metaobject_type": "product_dot_list"
		},
		{
			"type": "header",
			"content": "Sliders settings"
		},
		{
			"type": "checkbox",
			"id": "show_first_dot_by_default",
			"label": "Show First Tooltip By Default for sliders?",
			"default": true
		},
		{
			"type": "header",
			"content": "Section Settings"
		},
		{
			"type": "select",
			"id": "padding_amount_top",
			"label": "Top Section Padding",
			"options": [
				{
					"value": "no",
					"label": "None"
				},
				{
					"value": "small",
					"label": "Small"
				},
				{
					"value": "default",
					"label": "Medium (Default)"
				},
				{
					"value": "large",
					"label": "Large"
				},
				{
					"value": "xlarge",
					"label": "Extra Large"
				}
			],
			"default": "default"
		},
		{
			"type": "select",
			"id": "padding_amount_bottom",
			"label": "Bottom Section Padding",
			"options": [
				{
					"value": "no",
					"label": "None"
				},
				{
					"value": "small",
					"label": "Small"
				},
				{
					"value": "default",
					"label": "Medium (Default)"
				},
				{
					"value": "large",
					"label": "Large"
				},
				{
					"value": "xlarge",
					"label": "Extra Large"
				}
			],
			"default": "default"
		}
	],
	"blocks": [
		{ "type": "_image-copy-block" },
		{ "type": "_video-copy-block" },
		{ "type": "_slider-copy-block" }
 	],
	"presets": [
		{
			"name": "Image/Video/Copy Blocks"
		}
	]
}
{% endschema %}