<div class="accounts">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3 py-5 my-5">
				<div class="card">
					<div class="card-body">
						{%- form 'create_customer', data-needs-validation: true, novalidate: true -%}
						{{ form.errors | default_errors }}
						{% if section.settings.register_title != blank %}<h1 class="h2 mb-4">{{ section.settings.register_title }}</h1>{% endif %}
						<div class="input-group">
							<label for="FirstName" class="visually-hidden">{{ 'customer.register.first_name' | t }}</label>
							<input type="text" name="customer[first_name]" id="FirstName" class="form-control" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} minlength="2" required>
							<div class="invalid-feedback">{{ 'customer.addresses.required_first_name' | t }}</div>
						</div>
						<div class="input-group">
							<label for="LastName" class="visually-hidden">{{ 'customer.register.last_name' | t }}</label>
							<input type="text" name="customer[last_name]" id="LastName" class="form-control" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} minlength="2" required>
							<div class="invalid-feedback">{{ 'customer.addresses.required_last_name' | t }}</div>
						</div>
						<div class="input-group">
							<label for="Phone" class="visually-hidden">{{ 'customer.register.phone' | t }}</label>
							<input type="tel" name="customer[phone]" id="Phone" class="form-control" placeholder="Phone" value="{{ form.phone }}" pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" required>
							<div class="invalid-feedback">{{ 'customer.addresses.required_phone' | t }}</div>
						</div>
						<div class="input-group">
							<label for="Email" class="visually-hidden">{{ 'customer.register.email' | t }}</label>
							<input type="email" name="customer[email]" id="Email" class="form-control" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %}value="{{ form.email }}"{% endif %} required>
							<div class="invalid-feedback">{{ 'customer.addresses.required_address' | t }}</div>
						</div>
						<div class="input-group">
							<label for="CreatePassword" class="visually-hidden">{{ 'customer.register.password' | t }}</label>
							<input type="password" name="customer[password]" id="CreatePassword" class="form-control" placeholder="{{ 'customer.register.password' | t }}" minlength="8" required>
							<div class="invalid-feedback">{{ 'customer.register.password_length' | t }}</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary w-100 my-2">{{ 'customer.register.submit' | t }}</button>
						</div>
						<div class="pt-4 text-center">
							<p class="text-center"><a title="login" href="{{ shop.url }}/account/login">{{ 'customer.register.cancel' | t }}</a></p>
						</div>
						{%- endform -%}
					</div>
				</div>
			</div>
		</div>
	</div><!-- / .container -->
</div>

{% schema %}
{
  "name": "Register",
  "class": "section-account-register",
  "tag": "section",
  "settings": [
	{
	  "type": "text",
	  "id": "register_title",
	  "label": "Register Title",
	  "default": "account registration"
	}
  ]
}
{% endschema %}