{{ 'customer.css' | asset_url | stylesheet_tag }}
<section class="customer reset-password" data-section-id="{{ section.id }}" data-section-type="reset-password">
	<div class="container">
		<div class="row" data-login-reset-password>
			<div class="col-12 col-md-6 offset-md-3 py-5 my-5">
				<div class="card">
					<div class="card-body">
						<h1 class="h2 mb-4">{{ 'customer.reset_password.title' | t }}</h1>
						{%- form 'reset_customer_password' -%}
							{%- if form.errors -%}
							<h2 class="form__message" tabindex="-1" autofocus>
								<span class="visually-hidden">{{ 'customer.reset_password.error_title' | t }}</span>
								<svg aria-hidden="true" focusable="false" role="presentation">
								<use href="#icon-error" />
								</svg>
								{{ 'customer.reset_password.error_msg' | t }}
							</h2>
							<ul>
								{%- for field in form.errors -%}
								<li>
									{%- if field == 'form' -%}
									{{ form.errors.messages[field] }}
									{%- else -%}
									<a href="#{{ field }}">
										{{ form.errors.translated_fields[field] | capitalize }}
										{{ form.errors.messages[field] }}
									</a>
									{%- endif -%}
								</li>
								{%- endfor -%}
							</ul>
							{%- endif -%}
							<div class="input-group">
								<input type="password" name="customer[password]" id="password" class="form-control" autocomplete="new-password"{% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="password-error"{% endif %} placeholder="{{ 'customer.reset_password.password' | t }}">
								<label class="visually-hidden" for="password">
									{{ 'customer.reset_password.password' | t }}
								</label>
								<div class="invalid-feedback">{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}</div>
							</div>
							<div class="input-group">      
								<input type="password" name="customer[password_confirmation]" id="password_confirmation" class="form-control" autocomplete="new-password"{% if form.errors contains 'password_confirmation' %} aria-invalid="true" aria-describedby="password_confirmation-error"{% endif %} placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
								<label class="visually-hidden" for="password_confirmation">
									{{ 'customer.reset_password.password_confirm' | t }}
								</label>
								<div class="invalid-feedback">{{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}</div>
							</div>
							<div class="btn-wrapper">
								<button type="submit" class="btn btn-primary w-100 my-2">{{ 'customer.reset_password.submit' | t }}</button>
							</div>
						{%- endform -%}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>